
lecture_notes/.ipynb_checkpoints/LectureNotes_01_Intro-checkpoint.ipynb
homework/.ipynb_checkpoints/todo_before_class-checkpoint.ipynb
lecture_notes/.ipynb_checkpoints/LectureNotes_01_Intro-checkpoint.ipynb
lecture_notes/.ipynb_checkpoints/LectureNotes_01_Intro-checkpoint.ipynb
lecture_notes/.ipynb_checkpoints/LectureNotes_02_CRSP-checkpoint.ipynb
lecture_notes/.ipynb_checkpoints/LectureNotes_01_Intro-checkpoint.ipynb
lecture_notes/.ipynb_checkpoints/LectureNotes_03_Compustat-checkpoint.ipynb
